sources/jvxLibraries/third_party/git/civetweb/civetweb
sources/jvxLibraries/third_party/git/jsmn/jsmn
sources/jvxLibraries/third_party/git/cminpack/cminpack
sources/jvxLibraries/third_party/git/ebur128/libebur128
sources/jvxLibraries/third_party/git/mysofa/libmysofa
sources/jvxLibraries/third_party/git/portaudio/portaudio
sources/jvxLibraries/third_party/git/portaudio/asiosdk_2.3.3_2019-06-14.zip
sources/jvxLibraries/third_party/git/qwt/qwt
sources/jvxLibraries/third_party/git/speex-dsp/speexdsp
sources/jvxLibraries/third_party/git/ffmpeg/ffmpeg
sources/jvxLibraries/third_party/git/eigen/eigen
sources/jvxLibraries/third_party/web/qcustomplot/qcustomplot.tar.gz
sources/jvxLibraries/third_party/web/qcustomplot/qcustomplot
sources/jvxLibraries/third_party/web/boost/boost
sources/jvxLibraries/third_party/web/npcap/npcap-sdk
sources/jvxLibraries/third_party/web/libsdl/libsdl
sources/jvxLibraries/third_party/web/qt/qt
sources/jvxLibraries/third_party/web/qt/aqt.exe
sources/jvxLibraries/third_party/web/qt/aqtinstall.log

sources/sub-projects/vst3sdk
sources/jvxPackages/ffmpeg/jvxLibraries/third_party/git/ffmpeg/ffmpeg-win32
sources/jvxPackages/ffmpeg/jvxLibraries/third_party/git/ffmpeg/ffmpeg-x64
sources/jvxPackages/ffmpeg/jvxLibraries/third_party/web/libsdl/libsdl
sources/python/jvx-dsp-python/python/runtime/local.py

sources/wp-modules/simpletest/python/runtime/local.py

sources/jvxLibraries/third_party/web/hdf5/hdf5-1.14.2
sources/jvxLibraries/third_party/web/hdf5/build

sources/jvxLibraries/third_party/web/glew/glew

sources/jvxLibraries/third_party/web/flutter/flutter-3.7.4

sources/jvxLibraries/third_party/git/orc/meson
sources/jvxLibraries/third_party/git/orc/orc

/sources/jvxLibraries/third_party/web/fftw/fftw-3.3/fftw-3.3.10

/sources/jvxExTools/jvxExPropC/example/get_audio_D0.m
/sources/jvxExTools/jvxExPropC/example/get_audio_D1.m
/sources/jvxExTools/jvxExPropC/example/get_audio_D10.m
/sources/jvxExTools/jvxExPropC/example/get_audio_D11.m
/sources/jvxExTools/jvxExPropC/example/get_audio_D2.m
/sources/jvxExTools/jvxExPropC/example/get_audio_D3.m
/sources/jvxExTools/jvxExPropC/example/get_audio_D4.m
/sources/jvxExTools/jvxExPropC/example/get_audio_D5.m
/sources/jvxExTools/jvxExPropC/example/get_audio_D6.m
/sources/jvxExTools/jvxExPropC/example/get_audio_D7.m
/sources/jvxExTools/jvxExPropC/example/get_audio_D8.m
/sources/jvxExTools/jvxExPropC/example/get_audio_D9.m
/sources/jvxExTools/jvxExPropC/example/get_audio_Hallo_D0.m
/sources/jvxExTools/jvxExPropC/example/get_audio_Hallo_D1.m
/sources/jvxExTools/jvxExPropC/example/get_audio_Hallo_D10.m
/sources/jvxExTools/jvxExPropC/example/get_audio_Hallo_D11.m
/sources/jvxExTools/jvxExPropC/example/get_audio_Hallo_D2.m
/sources/jvxExTools/jvxExPropC/example/get_audio_Hallo_D3.m
/sources/jvxExTools/jvxExPropC/example/get_audio_Hallo_D4.m
/sources/jvxExTools/jvxExPropC/example/get_audio_Hallo_D5.m
/sources/jvxExTools/jvxExPropC/example/get_audio_Hallo_D6.m
/sources/jvxExTools/jvxExPropC/example/get_audio_Hallo_D7.m
/sources/jvxExTools/jvxExPropC/example/get_audio_Hallo_D8.m
/sources/jvxExTools/jvxExPropC/example/get_audio_Hallo_D9.m
/sources/jvxExTools/jvxExPropC/example/get_audio_mySubGroup1_B0.m
/sources/jvxExTools/jvxExPropC/example/get_audio_mySubGroup1_B1.m
/sources/jvxExTools/jvxExPropC/example/get_audio_mySubGroup1_B10.m
/sources/jvxExTools/jvxExPropC/example/get_audio_mySubGroup1_B11.m
/sources/jvxExTools/jvxExPropC/example/get_audio_mySubGroup1_B2.m
/sources/jvxExTools/jvxExPropC/example/get_audio_mySubGroup1_B3.m
/sources/jvxExTools/jvxExPropC/example/get_audio_mySubGroup1_B4.m
/sources/jvxExTools/jvxExPropC/example/get_audio_mySubGroup1_B5.m
/sources/jvxExTools/jvxExPropC/example/get_audio_mySubGroup1_B6.m
/sources/jvxExTools/jvxExPropC/example/get_audio_mySubGroup1_B7.m
/sources/jvxExTools/jvxExPropC/example/get_audio_mySubGroup1_B8.m
/sources/jvxExTools/jvxExPropC/example/get_audio_mySubGroup1_B9.m
/sources/jvxExTools/jvxExPropC/example/get_audio_whatever.m
/sources/jvxExTools/jvxExPropC/example/set_audio_D0.m
/sources/jvxExTools/jvxExPropC/example/set_audio_D1.m
/sources/jvxExTools/jvxExPropC/example/set_audio_D10.m
/sources/jvxExTools/jvxExPropC/example/set_audio_D11.m
/sources/jvxExTools/jvxExPropC/example/set_audio_D2.m
/sources/jvxExTools/jvxExPropC/example/set_audio_D3.m
/sources/jvxExTools/jvxExPropC/example/set_audio_D4.m
/sources/jvxExTools/jvxExPropC/example/set_audio_D5.m
/sources/jvxExTools/jvxExPropC/example/set_audio_D6.m
/sources/jvxExTools/jvxExPropC/example/set_audio_D7.m
/sources/jvxExTools/jvxExPropC/example/set_audio_D8.m
/sources/jvxExTools/jvxExPropC/example/set_audio_D9.m
/sources/jvxExTools/jvxExPropC/example/set_audio_Hallo_D0.m
/sources/jvxExTools/jvxExPropC/example/set_audio_Hallo_D1.m
/sources/jvxExTools/jvxExPropC/example/set_audio_Hallo_D10.m
/sources/jvxExTools/jvxExPropC/example/set_audio_Hallo_D11.m
/sources/jvxExTools/jvxExPropC/example/set_audio_Hallo_D2.m
/sources/jvxExTools/jvxExPropC/example/set_audio_Hallo_D3.m
/sources/jvxExTools/jvxExPropC/example/set_audio_Hallo_D4.m
/sources/jvxExTools/jvxExPropC/example/set_audio_Hallo_D5.m
/sources/jvxExTools/jvxExPropC/example/set_audio_Hallo_D6.m
/sources/jvxExTools/jvxExPropC/example/set_audio_Hallo_D7.m
/sources/jvxExTools/jvxExPropC/example/set_audio_Hallo_D8.m
/sources/jvxExTools/jvxExPropC/example/set_audio_Hallo_D9.m
/sources/jvxExTools/jvxExPropC/example/set_audio_mySubGroup1_B0.m
/sources/jvxExTools/jvxExPropC/example/set_audio_mySubGroup1_B1.m
/sources/jvxExTools/jvxExPropC/example/set_audio_mySubGroup1_B10.m
/sources/jvxExTools/jvxExPropC/example/set_audio_mySubGroup1_B11.m
/sources/jvxExTools/jvxExPropC/example/set_audio_mySubGroup1_B2.m
/sources/jvxExTools/jvxExPropC/example/set_audio_mySubGroup1_B3.m
/sources/jvxExTools/jvxExPropC/example/set_audio_mySubGroup1_B4.m
/sources/jvxExTools/jvxExPropC/example/set_audio_mySubGroup1_B5.m
/sources/jvxExTools/jvxExPropC/example/set_audio_mySubGroup1_B6.m
/sources/jvxExTools/jvxExPropC/example/set_audio_mySubGroup1_B7.m
/sources/jvxExTools/jvxExPropC/example/set_audio_mySubGroup1_B8.m
/sources/jvxExTools/jvxExPropC/example/set_audio_mySubGroup1_B9.m
/sources/jvxLibraries/third_party/web/hdf5/build-glnx/
/sources/jvxPackages/ffmpeg/jvxLibraries/third_party/git/ffmpeg/ffmpeg-glnx/
/sources/jvxLibraries/third_party/git/orc/orc/
/flutter/ayf_webhost/pubspec.yaml
/flutter/ayf_webhost/.vscode/launch.json
/flutter/ayf_webhost/example/.ayf_webhost_example.env
/sources/jvxLibraries/third_party/git/cbmp
/sources/jvxLibraries/third_party/git/tracy
