name: ayfstarter
description: A new Flutter plugin project.
version: 0.0.1
homepage:

environment:
  sdk: ">=2.18.0 <3.0.0"
  flutter: ">=2.5.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  plugin_platform_interface: ^2.0.2
  
  another_xlider: ^1.1.0
  provider: ^6.0.3
  collection: ^1.16.0
  fixnum: ^1.0.0
  
  intl: ^0.17.0
  
  clipboard: ^0.1.3 

  flutter_dotenv: ^5.0.2

  ayf_pack:
    path: '../../../../../flutter/ayf_pack'  

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0 

flutter:

 assets:
    - images/ayfstarter_icons/ayfstarter-logo.png 