name: ayf_pack
description: A new Flutter plugin project.
version: 0.0.1
homepage:

environment:
  sdk: ">=2.18.0 <3.0.0"
  flutter: ">=2.5.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  plugin_platform_interface: ^2.0.2
  
  another_xlider: ^1.1.0
  provider: ^6.0.3
  collection: ^1.16.0
  fixnum: ^1.0.0
  
  intl: ^0.17.0
  
  clipboard: ^0.1.3 

  flutter_dotenv: ^5.0.2

  ayf_pack_native:
    path: ../ayf_pack_native

  ayf_ffihost:
    path: '../ayf_ffihost'

  ayf_webhost:
    path: '../ayf_webhost'

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0 

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:
  # This section identifies this Flutter project as a plugin project.
  # The 'pluginClass' specifies the class (in Java, Kotlin, Swift, Objective-C, etc.)
  # which should be registered in the plugin registry. This is required for
  # using method channels.
  # The Android 'package' specifies package in which the registered class is.
  # This is required for using method channels on Android.
  # The 'ffiPlugin' specifies that native code should be built and bundled.
  # This is required for using `dart:ffi`.
  # All these are used by the tooling to maintain consistency when
  # adding or updating assets for this project.
  plugin:
    platforms:
      windows:
        pluginClass: AyfPackPluginCApi
      web:
        pluginClass: AyfPackWeb
        fileName: ayf_pack_web.dart

  assets:
    - images/ayf_icons/ayf-mixer.png
    - images/ayf_icons/ayf-stream.png
    - images/ayf_icons/ayf-audio-settings.png
    - images/ayf_icons/ayf-video-settings.png
    - images/ayf_icons/ayf-headtracker-settings.png
    - images/ayf_icons/ayf-sip.png
    - images/ayf_icons/ayf-webrtc.png
    - images/ayf_icons/ayf-hdrive.png
    - images/ayf_icons/ayf-remote.png
    - images/ayf_icons/ayf-brender.png
    - images/ayf_icons/ayf-plot.png
    - images/ayf_icons/ayf-dbg.png
    - images/ayf_icons/ayf-comp.png
    - images/ayf_icons/ayf-micsrc.png
    - images/ayf_icons/ayf-soundio.png 
    - images/ayf_icons/ayf-soundo.png
    - images/ayf_icons/ayf-soundi.png    
    - images/ayf_icons/ayf-file-input.png
    - images/ayf_icons/ayf-headtracker.png

  # To add assets to your plugin package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # To add custom fonts to your plugin package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages

#analyzer:
#  strong-mode: true
#  language:
#    enableSuperMixins: true